mkdocs==1.4.2
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-embed-external-markdown==2.3.0
mkdocs-include-markdown-plugin==4.0.4
mkdocs-material==9.1.2
mkdocs-material-extensions==1.1.1
pymdown-extensions==9.10
